/* SearchBar.module.css */
.searchBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Espacio entre los elementos */
  margin: 20px 0; /* Ajusta los márgenes según necesites */
}

.searchInput {
  padding: 8px 10px;
  font-size: 16px; /* Ajusta el tamaño de fuente según necesites */
  border: 1px solid #ccc;
  border-radius: 5px; /* Bordes redondeados para el input */
  outline: none; /* Elimina el contorno al enfocar */
}

.searchButton, .randomButton {
  padding: 8px 12px;
  font-size: 16px; /* Ajusta el tamaño de fuente según necesites */
  background-color: #007bff; /* Color de fondo para los botones */
  color: white;
  border: none;
  border-radius: 5px; /* Bordes redondeados para los botones */
  cursor: pointer; /* Cambia el cursor a puntero */
}

.searchButton:hover, .randomButton:hover {
  background-color: #0056b3; /* Color de fondo al pasar el mouse */
}
